body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding-top: 80px; /* Compensa o cabeçalho fixo */
    background-color: #f5f5f5;
}

.sobre-content {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    color: #333;
}

.sobre-content h1 {
    color: #00d4a3;
    text-align: center;
    margin-bottom: 20px;
    font-size: 32px;
}

.sobre-content p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 15px;
    color: #555;
}
