<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SAUDEZINHA</title>
    <!-- esses links são pro css ficar supimpa, shyne e coisa do tipo-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="..\static\css\header.css">
</head>

<body>
    <header class="header">
        <a class="logo" href="/chat">
            <img alt="LOGO PROVISÓRIA FAVOR MUDAR DEPOIS OU NÃO" height="40"
                src="https://storage.googleapis.com/a1aa/image/FHQZmlfUXsTFbC8lh6HjG6MKlkomcIWtRvZ6bRfXfEmVvseOB.jpg"
                width="40">
            SAUDEZINHA
        </a>
        <nav class="sobre">
            <a href="/sobre">Sobre</a>
        </nav>
        <a class="login-button" href="/login">Login</a>
    </header>
</body>

</html>